<div class="text-center" style="padding: 50px;">
    <h2>Protected Dashboard Page!</h2>
    <hr>
    <div class="alert alert-info">
      Welcome back Admin.
    </div>
  </div>
  
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
  </nav> -->
  <app-escort-list></app-escort-list>
	<router-outlet></router-outlet>




