<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div> -->
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
</ul> -->











<section class="menu cid-rbb1P7Oggj" once="menu" id="menu1-5" data-sortbtn="btn-primary">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="navbar-brand">
            <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-2" href="../bootstrap-template.html">
                    Escortian
                </a></span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>





        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item  dropdown">
                        <a class="nav-link link text-black display-6 dropdown-toggle" href="#"  data-toggle="dropdown-submenu">
                            Menu
                        </a>	<div class="dropdown-menu"><a class="dropdown-item text-black display-4" routerLink="home" href="../bootstrap-template/slider.html">Home</a>
                            <a class="dropdown-item text-black display-4" href="../bootstrap-template/video-background.html">Add an advertisement</a>
                            <a class="dropdown-item text-black display-4" href="../bootstrap-template/footer-template.html">Register</a>
                        </div>
                    </li>
                  
                    <!-- <li class="nav-item  dropdown">
                        <a class="nav-link link text-black display-4 dropdown-toggle" href="../#"  data-toggle="dropdown-submenu">
                            Site templates 3
                        </a><div class="dropdown-menu">
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-basic-template.html">Bootstrap Basic Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-starter-template.html">Bootstrap Starter Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/download-bootstrap-template.html">Download Bootstrap Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-login-page-template.html">Bootstrap Login Form Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-single-page-template.html">Bootstrap Single Page Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-ecommerce-template.html">Bootstrap eCommerce Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-portfolio-template.html">Bootstrap Portfolio Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-one-page-template.html">Bootstrap One Page Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/best-bootstrap-templates.html">Best Bootstrap Templates<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/free-html5-bootstrap-templates.html">Free html5 Bootstrap Templates<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/premium-bootstrap-templates.html">Premium Bootstrap Templates<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-responsive-website-templates.html">Bootstrap Responsive Website Templates<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-page-templates.html">Bootstrap Page Templates<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/simple-bootstrap-template.html">Simple Bootstrap Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-design-templates.html">Bootstrap Design Templates<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-templates-examples.html">Bootstrap Templates Examples<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-landing-page-template.html">Bootstrap Landing Page Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-theme-template.html">Bootstrap Theme Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-layout-templates.html">Bootstrap Layout Templates<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-sample-template.html">Bootstrap Sample Template<br></a>
                        <a class="text-black dropdown-item display-4" href="../bootstrap-template/bootstrap-basic-template.html">Bootstrap Basic Template<br></a></div>
                    </li> -->
                </ul>
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-sm btn-info display-4" routerLink="login">
                      Login</a>
                      <a [routerLink]="['/login']" routerLinkActive="active"> Products List Page </a>
                    </div>
          </div> 




    </nav>
</section>

<router-outlet></router-outlet>
